.idea
.DS_Store
.lib
__pycache__
.ipynb_checkpoints
diagnostics/plots/
build/
dist/
.vscode/
*.egg-info/
benchmarks/plots/
CMakeLists.txt
restats
*-darwin.so
**.pyc
pics_*
pics/*.jpg
examples/*.jpg
examples/*.pt
examples/*.log
*.jpg
*.pt
*.png
examples/latent_debug
dump/*
dump
*.log
examples/LSTMModel*
checkpoints*
results*
results/*
results_deepsvg_format/*
results_deepsvg_format_plot/*
checkpoints/*
checkpoints_debug/*
*.pkl
*.npy

